@model FormDto
@{
}

<div>
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Admin : Edit Form</h2>

        <form method="post" enctype="multipart/form-data">

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Existing Status</label>
                <div class="col-md-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["Status"]"/>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Update Status</label>
                <div class="col-md-8">
                    <select class="form-select" asp-for="Status">
                        <option value='Not Started'>Not Started</option>
                        <option value='In Progress'>In Progress</option>
                        <option value='Solved'>Solved</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Existing Admin Comment</label>
                <div class="col-md-8">
                    <textarea class="form-control" readonly>@ViewData["AdminComment"]</textarea>
                    <span asp-validation-for="AdminComment" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Update Admin Comment</label>
                <div class="col-md-8">
                    <textarea class="form-control" asp-for="AdminComment"></textarea>
                    <span asp-validation-for="AdminComment" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-md-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["FormId"]" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Name" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Email" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone Number</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="PhoneNumber" readonly />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Subject</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Subject" readonly />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Category</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Category" readonly />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Building</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Building" readonly />
                    <span asp-validation-for="Building" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Company</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Company" readonly />
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="col-md-8">
                    <textarea class="form-control" asp-for="Description" readonly></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Attachment</label>
                <div class="col-md-8">
                    <img src="/form/@ViewData["Attachment"]" width="150" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Created At</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["CreatedAt"]">
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Form" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
