@model FormDto
@{
}

<div>
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Edit Form</h2>

        <form method="post" enctype="multipart/form-data">

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-md-8">
                    <input class="form-control-plaintext" readonly value=@ViewData["FormId"] />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone Number</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Subject</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Subject" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Category</label>
                <div class="col-md-8">
                    <select class="form-select" asp-for="Category">
                        <option value='Building'>Building</option>
                        <option value='Equipment'>Equipment</option>
                        <option value='Electrical'>Electrical</option>
                        <option value='Water'>Water</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Building</label>
                <div class="col-md-8">
                    <select class="form-select" asp-for="Building">
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>
                        <option value='6'>6</option>
                        <option value='7'>7</option>
                        <option value='8'>8</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Company</label>
                <div class="col-md-8">
                    <select class="form-select" asp-for="Company">
                        <option value='GWM'>GWM</option>
                        <option value='Mercedez-Benz Indonesia'>Mercedez-Benz Indonesia</option>
                        <option value='Mercedez-Benz Indonesia - Distribution'>Mercedez-Benz Indonesia - Distribution</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="col-md-8">
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-4 col-md-8">
                    <img src="/form/@ViewData["Attachment"]" width="150"/>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Attach</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Attach" />
                    <span asp-validation-for="Attach" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Created At</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value=@ViewData["CreatedAt"]>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Form" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>