<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issues_Form</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <link rel="stylesheet" href="~/Issues_Form.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-logo">
            <!-- Tambahkan href dengan parameter unik untuk memaksa reload saat gambar diklik -->
            <a href="@Url.Action("Refresh", "Home", new { reload = "true" })">
                <img src="https://media.licdn.com/dms/image/D4D0BAQGjpdt_7qB22g/company-logo_200_200/0/1695231492698?e=2147483647&v=beta&t=WIX2uuSeQdxsVi8bYOqkSgudgADI2oYfcWkZDpdfcN8">
            </a>
        </div>
        <ul class="navbar-menu">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">Log Out</a>
            </li>
        </ul>
    </nav>
</header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Issues_Form - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
